<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio de sesion</title>
</head>
<body>
    <div>
        <div>
            <div>
                <h4>Iniciar sesion</h4>
            </div>
            <div>
                <label for="">Usuario o contraseña</label>
                <input type="email" name="" id="">
                <label for="">Contraseña</label>
                <input type="password" name="" id="">
            </div>
        </div>
    </div>
</body>
</html>